<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBEntities" connectionString="metadata=res://*/DbEntities.csdl|res://*/DbEntities.ssdl|res://*/DbEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JUSHA-PC\SQLEXPRESS;initial catalog=DB;user id=sa;password=Password123?;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>